body{
    margin: 0px;
}
.one{
    width:100%;
    opacity: .9;
}
.head{
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    justify-content: center; /* Растягивает внутри .head объекты по width */
    align-items:end;
    width:100%;
    height:80px;
}
a{
    text-decoration: none;
}
.img{
    float: right;
    margin-right: 150px;
    height: 80px;
}
.object{
    padding:5px 10px 5px 10px;
    display: flex;
    align-items: center; /* содержимое в центр*/
    margin-left: 20px;
    color: #e7e7e7;
    font-size: 18px;
    font-family: fantasy;
    font-width: 100;
    letter-spacing:2px;
    background: black;
    font-stretch: ultra-expanded;
    opacity: .99;
    transition: 1s;
}
.object:hover{
    background: rgba(180, 4, 26, 0.91);
    color:#fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:200px;
    left: 50px;
    width: 50%;
    color:#fff;
    opacity: .8;
    transition: 1s;
}
.block{
    padding: 15px;
    background:#000;
    color:#fff;
    font-family: "Franklin Gothic Medium";
    font-size:80px;
}
.container:hover{
    opacity: 0.9;
}
.block_right {
    padding: 15px;
    position: absolute;
    top: 420px;
    right: 270px;
    width: 300px;
    background: #fff;
    font-family: "Franklin Gothic Medium";
    color: #000;
    font-size: 25px;
    transition: 0.7s;
}
.inp{
    position: absolute;
    top: 350px;
    right: 380px;
    width:200px;
    height: 50px;
    background: rgba(247, 4, 27, 1);
    color: #fff;
    font-family: fantasy;
    font-size: 20px;
    border: 0px solid red;
    transition: 0.7s;
}
.inp:hover{
    background: #9CEDDA;
    color:#333;
}

.catalog{
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 250px;
    background: #fff;
}
.head_bl_cat_l{
    width: 50%;
    font-family: "Trebuchet MS";
    color: #000;
    font-size: 40px;
    padding-top:30px;
}
.head_bl_cat_r{
    padding-top:30px;
    width: 40%;
    font-family: "Trebuchet MS";
    color: #000;
    font-size: 20px;
}
.donate{
    float: left;
    margin-left: 30px;
    margin-top:-100px ;
    width:200px;
    height: 50px;
    background: rgb(247, 4, 27);
    color: #fff;
    font-family: fantasy;
    font-size: 20px;
    border: 0px solid red;
    transition: 0.7s;
}
.donate:hover{
    background: #9CEDDA;
    color:#333;
}
.api_blog{
    display: inline-flex;
    justify-content: center;
    width:100%;
    height: 600px;
    background:rgb(247, 4, 27);
}
.head_api{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 50px;
}
.head_api_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 10px;
    height: 50px;
    font-size: 50px;
    font-family: "Trebuchet MS";
    color:#fff;
    background: #000;
}
.text_api{
    padding: 10px;
    margin-top:50px;
    margin-left: 50px;
    font-family: "Trebuchet MS";
    height: 400px;
    max-width: 25%;
    color:rgb(247, 4, 27);
    font-size: 20px;
    background: #fff;
    order: -1;
}
.copy_text{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 200px;
    background: #000;
    color:#fff;
    font-size: 20px;
    font-family: "Trebuchet MS";
}